# Core dependencies
torch>=2.0.0
transformers==4.41.2
datasets>=2.18.0
evaluate>=0.4.0
soundfile>=0.12.1
accelerate>=0.25.0
jiwer
ipywidgets

# Whisper-specific
git+https://github.com/openai/whisper.git

# For audio processing (used by `datasets.Audio`)
librosa>=0.10.0

# Weights & Biases for logging
wandb>=0.16.0
